.bookCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: max-content;
    padding: 5px;
    background-color: #dedede;
    border: 1px solid #ccc;
    font-family: Helvetica;
<<<<<<< HEAD
    margin: 5px;

=======
>>>>>>> 920ec46ce5f39d33c98d1981592ab18668d97da2
}

.titulo{
    font-size: 12px;
}

.autor{
    font-size: 10px;
}


img{
    width: 80px;
    border-radius: 5px;
}